{% extends "LagerApp/layout.html" %}
{% block body %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:home' %}">Home</a>
        <a class="btn btn-primary btn-lg active" href="{% url 'LagerApp:article' %}">Article</a>
        <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:lagerliste' %}">Lager</a>
        <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:kennzahlen' %}">Kennzahlen</a>
    </div>
    {% if article_list %}
        <table class="table table-dark table-hover table-striped">
            <thead>
                <tr>
                    <th>Artikel</th>
                    <th>Bezeichnung</th>
                    <th>Lagerbestand</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for article in article_list %}
                <tr>
                    <td>{{article.artikelnummer}}</td>
                    <td>{{article.bezeichnung}}</td>
                    <td>{{article.anzahl}}</td>
                    <td><a class="btn btn-primary btn-lg" href="{% url 'LagerApp:detail' article.id %}">Details</a><td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>No Articles here</h1>
    {% endif %}
{% endblock %}
