{% extends 'LagerApp/layout.html'%}
{% block body %}
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a class="btn btn-primary active btn-lg" href="{% url 'LagerApp:home' %}">Home</a>
            <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:article' %}">Artikel</a>
            <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:lagerliste' %}">Lager</a>
            <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:kennzahlen' %}">Kennzahlen</a>
</div>
{% if article %}
<h1>Detail zum Artikel: {{article.artikelnummer}}</h1>

<table>
    <tr>
        <th>Bezeichnung:</th><td>{{article.bezeichnung}}</td>
    </tr>
    <tr>
        <th>auf Lager:</th><td>{{article.anzahl}}</td>
    </tr>
    <tr>
        <th>Kategorie:</th><td>{{article.kategorie}}</td>
    </tr>
    <tr>
        <th>Lieferant:</th><td>{{article.lieferant}}</td>
    </tr>
    <tr>
        <th>Einkaufpreis:</th><td>{{article.ekpreis}}</td>
    </tr>
        <th>Verkaufpreis:</th><td>{{article.vkpreis}}</td>
    </tr>
    <tr>
        <th>Bezeichnung:</th><td>{{article.bezeichnung}}</td>
    </tr>
</table>

{% endif %}
{% endblock %}
