{% extends 'LagerApp/layout.html' %}
{% block body %}
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:home' %}">Home</a>
    <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:article' %}">Article</a>
    <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:lagerliste' %}">Lager</a>
    <a class="btn btn-primary btn-lg active" href="{% url 'LagerApp:kennzahlen' %}">Kennzahlen</a>
</div>
{% if umsatz and gewinn and abgänge %}
<h1>kennzahlen</h1>
<p>Umsatz: {{umsatz}}</p>
<p>Gewinn: {{gewinn}}</p>
<p>Abgänge: {{abgänge}}
{% endif %}
{% endblock %}
