{% extends 'LagerApp/layout.html' %}
{% block body %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:home' %}">Home</a>
        <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:article' %}">Artikel</a>
        <a class="btn btn-primary btn-lg active" href="{% url 'LagerApp:lagerliste' %}">Lager</a>
        <a class="btn btn-primary btn-lg" href="{% url 'LagerApp:kennzahlen' %}">Kennzahlen</a>
    </div>
    {% if lager_list%}
        {% for lager in lager_list %}
            <form action="{% url 'LagerApp:lagerplatz' lager.id%}" method="GET">
                <button class="btn btn-primary d-grid gap-2 col-6 mx-auto" type="submit">{{lager.lagernummer}}</button>
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}
